html,
body {
  margin: 0px;
  height: 100%;
  font-family: 'Chakra Petch', sans-serif;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/images/Chakra_Petch/ChakraPetch-Bold.ttf') format('ttf'),
    url('/images/Chakra_Petch/ChakraPetch-BoldItalic.ttf') format('ttf'),
    url('/images/Chakra_Petch/ChakraPetch-Italic.ttf') format('ttf'),
    url('/images/Chakra_Petch/ChakraPetch-Light.ttf') format('ttf'),
    url('/images/Chakra_Petch/ChakraPetch-LightItalic.ttf') format('ttf'),
    url('/images/Chakra_Petch/ChakraPetch-Medium.ttf') format('ttf'),
    url('/images/Chakra_Petch/ChakraPetch-MediumItalic.ttf') format('ttf'),
    url('/images/Chakra_Petch/ChakraPetch-Regular.ttf') format('ttf'),
    url('/images/Chakra_Petch/ChakraPetch-SemiBold.ttf') format('ttf'),
    url('/images/Chakra_Petch/ChakraPetch-SemiBoldItalic.ttf') format('ttf');
}


#canvas {
    position: absolute;
    background-color: black;

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
}

.navbar__logo {
    margin-right: auto;
}

.navbar__links {
    display: flex;
    align-items: center;
}

.navbar__links a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

div.menu {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
}

#clear-btn {
    background: none;
    border: none;
}