@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

html,
body {
  margin: 0px;
  height: 100%;
  font-family: 'Chakra Petch', sans-serif;
}

#canvas {
    position: absolute;
    background-color: black;

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
}

.navbar__logo {
    margin-right: auto;
}

.navbar__links {
    display: flex;
    align-items: center;
}

.navbar__links a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

div.menu {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
}

#clear-btn {
    background: none;
    border: none;
}