html,
body {
  margin: 0px;
  height: 100%;
}

#canvas {
    position: absolute;
    background-color: black;

}

div.menu {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
}

#clear-btn {
    background: none;
    border: none;
}